#===============================================================================
#
#         FILE:  devel.rc
#
#        USAGE:  devel.rc
#
#  DESCRIPTION:  Work on software and scripts
#      WORKDIR:  ~/Projects
#
#      OPTIONS:  ---
# REQUIREMENTS:  ---
#         BUGS:  ---
#        NOTES:  THIS IS A WORK IN PROGRESS!!!!!!
#       AUTHOR:  John van Zantvoort (jvzantvoort), John@vanZantvoort.org
#      COMPANY:  none
#      CREATED:  08-Aug-2017
#===============================================================================

source-file ~/.bash/tmux.d/common.rc

bind-key "\`" run-shell "${HOME}/.bash/bin/cnt $HOME/Projects"

# run-shell "bash ~/.bash/tmux.d/tmux_opt_source tmux-themepack/powerline/default/orange.tmuxtheme"
