#===============================================================================
#
#         FILE:  writing.rc
#
#        USAGE:  writing.rc
#
#  DESCRIPTION:  default tmux configuration
#
#      OPTIONS:  ---
# REQUIREMENTS:  ---
#         BUGS:  ---
#        NOTES:  THIS IS A WORK IN PROGRESS!!!!!!
#       AUTHOR:  John van Zantvoort (jvzantvoort), John@vanZantvoort.org
#      COMPANY:  none
#      CREATED:  08-Aug-2017
#===============================================================================

source-file ~/.bash/tmux.d/common.rc

